body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

#latest_image_container {
  margin-top:50px;
  margin-bottom:100px;
}

#latest_image_container > img
{
  width:500px;
  height:300px;
}

#client_download {

  font-size:24px;
  font-weight:bold;


}

#client_feature_title {
  font-size:20px;
}

#client_feature_list
{
  list-style-type: none;
}
